In [1]:
import pandas as pd
from src.preprocessing import clean_text
from src.er_lexicon import load_er_lexicon, compute_mean_er_score

df = pd.read_csv("Data/aclImdb_prepared.csv")
df.head()

[nltk_data] Downloading package punkt to
[nltk_data]     c:\Users\pc\OneDrive\Documents\ENSAE\ML For NLP\Final
[nltk_data]     Project\NLP-Sentiment-Classification\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     c:\Users\pc\OneDrive\Documents\ENSAE\ML For NLP\Final
[nltk_data]     Project\NLP-Sentiment-Classification\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     c:\Users\pc\OneDrive\Documents\ENSAE\ML For NLP\Final
[nltk_data]     Project\NLP-Sentiment-Classification\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

,text,label,rating,split,file
0,Bromwell High is a cartoon comedy. It ran at t...,1,9,train,0_9.txt
1,Homelessness (or Houselessness as George Carli...,1,8,train,10000_8.txt
2,Brilliant over-acting by Lesley Ann Warren. Be...,1,10,train,10001_10.txt
3,This is easily the most underrated film inn th...,1,7,train,10002_7.txt
4,This is not the typical Mel Brooks film. It wa...,1,8,train,10003_8.txt

In [ ]:
# Appliquer le nettoyage à un échantillon
df_sample = df.sample(5, random_state=12)
df_sample['cleaned_text'] = df_sample['text'].apply(clean_text)

df_sample[['text', 'cleaned_text']]

                                                    text  \
34622  Thought provoking, humbling depiction of the h...
1163   I'd waited for some years before this movie fi...
7637   I've never been a fan of Farrah Fawcett...Unti...
7045   Watched both parts twice. Enjoyed the story an...
43847  Film starts off great in 1872 with a violent, ...

                                            cleaned_text
34622  thought provoking humbling depiction human tra...
1163   waited years movie finally got released englan...
7637   never fan farrah fawcett truly amazing movie e...
7045   watched parts twice enjoyed story enjoyed seei...
43847  film starts great violent bloody fight dracula...

In [ ]:
# Nettoyage de tout le dataset
df['cleaned_text'] = df['text'].apply(clean_text)

In [4]:
lexicon = load_er_lexicon()
df['er_score'] = df['cleaned_text'].apply(lambda x: compute_mean_er_score(x, lexicon))
df[['cleaned_text', 'er_score']].head()

                                        cleaned_text  er_score
0  bromwell high cartoon comedy ran time programs...  0.245512
1  homelessness houselessness george carlin state...  0.090993
2  brilliant lesley ann warren best dramatic hobo...  0.168855
3  easily underrated film inn brooks cannon sure ...  0.175115
4  typical mel brooks film much less slapstick mo...  0.084981

In [5]:
df.head(3)

,text,label,rating,split,file,cleaned_text,er_score
0,Bromwell High is a cartoon comedy. It ran at t...,1,9,train,0_9.txt,bromwell high cartoon comedy ran time programs...,0.245512
1,Homelessness (or Houselessness as George Carli...,1,8,train,10000_8.txt,homelessness houselessness george carlin state...,0.090993
2,Brilliant over-acting by Lesley Ann Warren. Be...,1,10,train,10001_10.txt,brilliant lesley ann warren best dramatic hobo...,0.168855

In [6]:
df.to_csv("Data/imdb_cleaned.csv", index=False)